<div class="benifits" [class.visible]="isVisible">
  <div class="promise-container">
    <div class="column">
      <p class="bp-title">Our Promise</p>
      <h2 class="bp-head">Your Solution. On Time. Every Time.</h2>
    </div>
    <div class="column">
      <div class="grid-container">
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/benefits/telephone-operator_svgrepo.com.png" alt="CRM Executive">
          <h3>After Sales Dedicated <br> CRM Executive</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/benefits/support_svgrepo.com.png" alt="Queries">
          <h3>Experienced Specialist Team <br> for Department Queries</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/ca.png" alt="GST Rejection">
          <h3>Hassle-Free 100% Refund Policy <br> in case of GST Rejection</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/cloud.png" alt="KYC approval">
          <h3>Quickest Virtual-Office Address <br> within 3 days of KYC approval</h3>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="grid-container">
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/desk.png" alt="No Hidden Charges Ever">
          <h3>Lowest-Price Guarantee. <br> No Hidden Charges Ever</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/fssai.png" alt="Process for Agreement">
          <h3>End-to-End Online User-Friendly <br> Process for Agreement</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/gst.png" alt="registrations at the address">
          <h3>Duly vetted documents for successful <br> registrations at the address</h3>
        </div>
        <div class="grid-item">
          <img src="https://isicons.gumlet.io/promises/rating.png" alt="Google in last 8 years">
          <h3>500+ genuine users rated us 4.8 on <br> Google in last 8 years</h3>
        </div>
      </div>
    </div>
  </div>
</div>
