.main {
  position: relative;
  font-family: "Nunito", sans-serif;
  margin-top: 12px;
}

.backgroundContainer {
  position: relative;
  padding: 20px;
  background-color: #fff3f3;
}

.price{
  color: #ed6666;
}
