<div class="image-section">
    <div class="overlay-content">
        <div class="icon-grid">
            <div class="icon-item">
                <img src="https://isicons.gumlet.io/dynamic-search/mail-send_svgrepo.com.png" alt="Mailing Address">
                <span>Mailing Address</span>
            </div>
            <div class="icon-item">
                <img src="https://isicons.gumlet.io/dynamic-search/register_svgrepo.com.png" alt="GST Registration Address">
                <span>GST Registration <br> Address</span>
            </div>
            <div class="icon-item">
                <img src="https://isicons.gumlet.io/dynamic-search/edit-company-icon%201.png" alt="Business Registration Address">
                <span>Business Registration <br> Address</span>
            </div>
            <div class="icon-item">
                <img src="https://isicons.gumlet.io/dynamic-search/desk-svgrepo-com.svg" alt="Shared Desk Address">
                <span>Shared Desk <br> Address</span>
            </div>
            <div class="icon-item">
                <img src="https://isicons.gumlet.io/dynamic-search/desk-chair_svgrepo.com.png" alt="Dedicated Desk Address">
                <span>Dedicated Desk <br> Address</span>
            </div>
        </div>
        <div class="search-bar">
            <div class="input-container">
              <i class="fas fa-map-marker-alt"></i>
              <input type="text" placeholder="Location">
            </div>
            <div class="input-container">
              <i class="fas fa-list-alt"></i>
              <input type="text" placeholder="Type">
            </div>
            <button><i class="fas fa-search"></i> Search</button>
          </div>
          
    </div>
</div>
