<div class="happy-customer-section">
  <h2 class="section-title">What Our Customers Say</h2>
  <div class="carousel">
    <div class="carousel-inner" [style.transform]="'translateX(' + (-currentIndex * (100 / itemsToShow)) + '%)'">
      <div class="carousel-item" *ngFor="let customer of customers; let i = index">
        <div class="carousel-box">
          <h3>{{ customer.name }}</h3>
          <div class="brand-images">
            <img *ngFor="let img of customer.images" [src]="img" alt="Brand {{ i + 1 }}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <button class="control-button" (click)="updateCarousel(-1)">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="control-button" (click)="updateCarousel(1)">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  
</div>
