<div class="header-div">
  <h2 class="image-text">Enjoy <span style="color: #ed6666">Business Address</span> at a Professional <p>Workspace
    without bearing its Actual Cost</p></h2>

  <div class="form-container">
    <form class="quote-form">
      
      <div class="form-group">
        <fa-icon [icon]="faUser"></fa-icon>
        <input type="text" [placeholder]="namePlaceholder" />
      </div>
      <div class="form-group">
        <fa-icon [icon]="faPhone"></fa-icon>
        <input type="tel" [placeholder]="phonePlaceholder" />
      </div>
      <div class="form-group">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <input type="email" [placeholder]="emailPlaceholder" />
      </div>
      <div class="form-group">
        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
        <input type="text" [placeholder]="locationPlaceholder" />
      </div>
      
      <div class="form-group">
        <fa-icon [icon]="faList"></fa-icon>
        <select>
          <option>Plan</option>
          <option>GST Registration</option>
          <option>Mailing Address</option>
          <option>Business Registration</option>
          <option>Desk Address</option>
          <option>Bank Account Registration</option>
          <option>Transferring Address</option>
          <option>Ecommerce Registration</option>
          <option>Please Help, Need Clarity</option>
          <!-- Add additional options as needed -->
        </select>
      </div>
      <div class="button">
        <button type="submit" class="submit-btn">Request Quote</button>
      </div>
    </form>
  </div>
</div>
