<div class="container mx-auto mt-12 font-sans">
  <h2 class="text-center">
    <span class="h2">Our Simple & Transparent Plans</span>
        <hr class="w-3/4 mx-auto border-1 border-red-600 my-4" />
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <div *ngFor="let card of cardData" class="bg-white shadow-lg rounded-lg overflow-hidden transition-transform duration-300 transform hover:scale-105">
      <div class="relative h-48 bg-cover bg-center" [ngStyle]="{'background-image': 'url(' + card.image + ')'}">
        <div class="absolute inset-0 bg-red-600 bg-opacity-50"></div>
        <h2 class="absolute inset-0 flex items-center justify-center text-white text-2xl font-bold">
          {{ card.planName }}
        </h2>
      </div>
      <div class="p-6">
        <h3 class="text-lg font-semibold mb-4">{{ card.heading }}</h3>
        <ul class="space-y-2 mb-4">
          <li *ngFor="let feature of card.features" [ngClass]="{'line-through text-gray-400': !feature.available}">
            <span *ngIf="feature.available" class="text-green-500">&#10003;</span>
            <span *ngIf="!feature.available" class="text-red-500">&#10008;</span>
            {{ feature.feature }}
          </li>
        </ul>
        <p class="text-sm text-gray-700">{{ card.infoText }}</p>
      </div>
<!--      <div class="p-4 bg-red-600 text-center">-->
<!--        <button class="w-full text-white py-2 px-4 font-semibold hover:bg-red-700">Select Plan</button>-->
<!--      </div>-->
    </div>
  </div>
</div>
