<div class="vob">
    

  <div class="main-container">

      <h4>Our Benefits</h4>
      <h1>Virtual Office Benefits</h1>
      <h3>Business Address is convenient, reliable and economical solution saving your time and money.</h3>

      <div class="grid-container">
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/benefits/mail-send_svgrepo.com.png" alt="Sample Image 1">
              <div>
                  <h2 class="vob-head">No hefty deposits. No brokerage</h2>
                  <p>Deposit-free, commission-free transactions.</p>
              </div>
          </div>
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/benefits/support_svgrepo.com.png" alt="Sample Image 2">
              <div>
                  <h2 class="vob-head">Support from Seasoned Experts</h2>
                  <p>Experienced mentors guide with invaluable insights and wisdom.</p>
              </div>
          </div>
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/benefits/office-secretary_svgrepo.com.png" alt="Sample Image 3">
              <div>
                  <h2 class="vob-head">Ease of renewal</h2>
                  <p>Renewal is made effortless with a streamlined process.</p>
              </div>
          </div>
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/benefits/telephone-operator_svgrepo.com.png" alt="Sample Image 4">
              <div>
                  <h2 class="vob-head">Quick to Setup</h2>
                  <p>Efficiently set up for immediate functionality.</p>
              </div>
          </div>
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/benefits/address_svgrepo.com.png" alt="Sample Image 5">
              <div>
                  <h2 class="vob-head">Prime Commercial location</h2>
                  <p>Thriving hub for premier business ventures.</p>
              </div>
          </div>
          <div class="grid-item">
              <img src="https://isicons.gumlet.io/promises/fssai.png" alt="Sample Image 6">
              <div>
                  <h2 class="vob-head">No long term commitments</h2>
                  <p>Enjoy Flexibility without long-term contracts.</p>
              </div>
          </div>
      </div>
  </div>

  </div>
