<!-- <body> -->
<app-virtual-office-form></app-virtual-office-form>
<app-what-is-virtual-office></app-what-is-virtual-office>
<app-benefits-of-vo></app-benefits-of-vo>
<app-why-choose-vo></app-why-choose-vo>
<app-virtual-office-plan></app-virtual-office-plan>
<app-vo-locations></app-vo-locations>
<app-pricing-plans></app-pricing-plans>
<app-add-on-services></app-add-on-services>
<app-vo-need-help></app-vo-need-help>
<app-vo-helpline></app-vo-helpline>
<app-vo-faq></app-vo-faq>
<app-contact-form></app-contact-form>
<!-- </body> -->

