<body class="vo-helpline">
  <div class="vo-helpline-container">
    <div class="vo-helpline-card vo-helpline-left-card">
      <p class="vo-helpline-small-text">Still Thinking?</p>
      <h2>Speak to Our Virtual Office consultant right away.</h2>
      <button class="vo-helpline-cta-button">Get a Call Back</button>
    </div>
    <div class="vo-helpline-card vo-helpline-right-card">
      <h2>Our General Helpline number</h2>
      <p>
        Connect with our Support team, Renewals Team, Escalations team, Business Services team, and other teams right
        away by entering the desired extension or selecting the right menu option.
      </p>
      <button class="vo-helpline-cta-button">
        <a href="tel:+918882702020">+91-988-270-2020</a></button>
    </div>
  </div>
</body>