<div class="vo-helpline">
  <div class="vo-helpline-container">
    <!-- Left Card -->
    <div class="vo-helpline-card vo-helpline-left-card">
      <p class="vo-helpline-small-text">Still Thinking?</p>
      <div class="h-number">Speak to Our Virtual Office consultant right away.</div>
      <!-- Updated Button with click event -->
      <button class="vo-helpline-cta-button" (click)="openPopup()">Get a Call Back</button>
    </div>

    <!-- Right Card -->
    <div class="vo-helpline-card vo-helpline-right-card">
      <div class="h-number">Our General Helpline number</div>
      <p>
        Connect with our Support team, Renewals Team, Escalations team, Business Services team, and other teams right
        away by entering the desired extension or selecting the right menu option.
      </p>
      <button class="vo-helpline-cta-button">
        <a href="tel:+917292020900">+91-7292020900</a>
      </button>
    </div>
  </div>
</div>

<!-- Popup Code -->
<div class="popup" *ngIf="isPopupOpen">
  <div class="popupContent">
    <button class="closeBtn" (click)="closePopup()">×</button>
          <app-reveal-number></app-reveal-number>
  </div>
</div>
