<div class="offerings-scroll-container">
  <div class="offerings-container">
    <div *ngFor="let offering of offerings" class="offer-card">
      <div class="icon-title">
        <fa-icon [icon]="offering.icon" class="icon"></fa-icon>
        <h2>{{ offering.title }}</h2>
      </div>

      <div class="details-container">
        <!-- Features Column -->
        <div class="details-column">
          <h3>Features</h3>
          <ul>
            <li *ngFor="let item of offering.features" [ngClass]="{ available: item.available }">
              <fa-icon
                [icon]="item.available ? faCheckCircle : faTimesCircle"
                [class.available]="item.available"
                [class.unavailable]="!item.available"
              ></fa-icon>
              <span [class.unavailable]="!item.available">{{ item.text }}</span>
            </li>
          </ul>
        </div>

        <!-- Benefits Column -->
        <div class="details-column">
          <h3>Benefits</h3>
          <ul>
            <li *ngFor="let item of offering.benefits" [ngClass]="{ available: item.available }">
              <fa-icon
                [icon]="item.available ? faCheckCircle : faTimesCircle"
                [class.available]="item.available"
                [class.unavailable]="!item.available"
              ></fa-icon>
              <span [class.unavailable]="!item.available">{{ item.text }}</span>
            </li>
          </ul>
        </div>
      </div>

      <button class="request-quote-btn">
        Request Quote <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>
  </div>
</div>
