<div class="slider-container">
    <h2>Explore Your <span class="map-span">Virtual Office Destination</span>!</h2>
    <div class="slider-wrapper" #sliderWrapper>
        <div class="horizontal-slider" >
            <!-- First Row -->
            <div class="slider-row">
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/jk.png" alt="Jammu and Kashmir">
                    </div>
                    <p>Jammu and Kashmir</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/ladakh.png" alt="Ladakh">
                    </div>
                    <p>Ladakh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/harayana.png" alt="Haryana">
                    </div>
                    <p>Haryana</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/uttarakhand.png" alt="Uttarakhand">
                    </div>
                    <p>Uttarakhand</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/uttar_pradesh.png" alt="Uttar Pradesh">
                    </div>
                    <p>Uttar Pradesh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/rajasthan.png" alt="Rajasthan">
                    </div>
                    <p>Rajasthan</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/bihar.png" alt="Bihar">
                    </div>
                    <p>Bihar</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/delhi.png" alt="Delhi">
                    </div>
                    <p>Delhi</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/jharkhand.png" alt="Jharkhand">
                    </div>
                    <p>Jharkhand</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/assam.png" alt="Assam">
                    </div>
                    <p>Assam</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/arunachal prades.png" alt="Arunachal Pradesh">
                    </div>
                    <p>Arunachal Pradesh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/meghalaya.png" alt="Meghalaya">
                    </div>
                    <p>Meghalaya</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/manipur.png" alt="Manipur">
                    </div>
                    <p>Manipur</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/mizoram.png" alt="Mizoram">
                    </div>
                    <p>Mizoram</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/chhattisgarh.png" alt="Chhattisgarh">
                    </div>
                    <p>Chhattisgarh</p>
                </div>
            

 
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/punjab.png" alt="Punjab">
                    </div>
                    <p>Punjab</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/himachal pradesh.png" alt="Himachal Pradesh">
                    </div>
                    <p>Himachal Pradesh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/nagaland.png" alt="Nagaland">
                    </div>
                    <p>Nagaland</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/odisha.png" alt="Odisha">
                    </div>
                    <p>Odisha</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/madhya pradesh.png" alt="Madhya Pradesh">
                    </div>
                    <p>Madhya Pradesh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/maharashtra.png" alt="Maharashtra">
                    </div>
                    <p>Maharashtra</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/karnataka.png" alt="Karnataka">
                    </div>
                    <p>Karnataka</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/kerala.png" alt="Kerala">
                    </div>
                    <p>Kerala</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/tamil_nadu.png" alt="Tamil Nadu">
                    </div>
                    <p>Tamil Nadu</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/telangana.png" alt="Telangana">
                    </div>
                    <p>Telangana</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/tripura.png" alt="Tripura">
                    </div>
                    <p>Tripura</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/west bengal.png" alt="West Bengal">
                    </div>
                    <p>West Bengal</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/gujarat.png" alt="Gujarat">
                    </div>
                    <p>Gujarat</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/goa.png" alt="Goa">
                    </div>
                    <p>Goa</p>
                </div>
               
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/andhra pradesh.png" alt="Andhra Pradesh">
                    </div>
                    <p>Andhra Pradesh</p>
                </div>
                <div class="slider-item">
                    <div class="item-circle" (click)="navigateToCity($event)">
                        <img src="https://isicons.gumlet.io/map/a&n island.png" alt="Andaman and Nicobar">
                    </div>
                    <p>Andaman & Nicobar</p>
                </div>
            </div>

        </div>
    </div>
</div>
