<!-- <div *ngIf="!isFormVisible">
    <div class="callback-container">
      <h2>Connect Instantly With Our Solution Advisor</h2>
      <p>Our expert professionals are available from Monday to Saturday between 10 AM and 7 PM to address your queries and provide comprehensive solutions tailored to your needs.</p>
      <div class="call">
        <button
          class="callback-button bg-ff6666 text-white font-semibold py-3 px-6 rounded-full transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-ff6666 focus:ring-opacity-50" (click)="showForm()">
          <i class="fa fa-phone text-white mr-2" aria-hidden="true"></i>

          <span class="unblurred-text" >
    {{ selectedCoordinator.callerId | slice:0:7 }}
  </span>
          <span class="blurred-text" >
    {{ selectedCoordinator.callerId | slice:7:10 }}
  </span>
        </button></div>
    </div>
  </div> -->

      <!--
    <div *ngIf="!isFormSubmitted && isFormVisible" class="callback-container m-3">
      <h2 class="">Get Callback Now</h2>

      <form [formGroup]="callbackForm" (ngSubmit)="submitForm()">
        <input
          type="text"
          class="phone-input w-full p-3 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-ff6666"
          formControlName="name"
          placeholder="Enter your Name"
          required
        />
        <input
          type="tel"
          class="phone-input w-full p-3 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-ff6666"
          formControlName="phone"
          placeholder="Enter your number"
          required
        />
        <span
          class="text-ff6666 text-sm italic"
          *ngIf="callbackForm.get('phone').invalid && (callbackForm.get('phone').dirty || callbackForm.get('phone').touched)">
            Invalid Mobile Number
          </span>

        <div class="time-button-container mb-8 flex justify-center gap-4">
          <button
            type="button"
            [ngClass]="{'selected-button': selectedTime1 === 1}"
            class="time-button w-full sm:w-24 py-2 border border-ff6666 text-ff6666 font-semibold rounded-full transition ease-in-out duration-300"
            (click)="selectTime(1)">
            Now
          </button>
          <button
            type="button"
            [ngClass]="{'selected-button': selectedTime1 === 15}"
            class="time-button w-full sm:w-24 py-2 border border-ff6666 text-ff6666 font-semibold rounded-full transition ease-in-out duration-300"
            (click)="selectTime(15)">
            +15 min
          </button>
          <button
            type="button"
            [ngClass]="{'selected-button': selectedTime1 === 60}"
            class="time-button w-full sm:w-24 py-2 border border-ff6666 text-ff6666 font-semibold rounded-full transition ease-in-out duration-300"
            (click)="selectTime(60)">
            +1 hr
          </button>
        </div>

        <div class="call flex justify-center">
          <button
            type="submit"
            class="callback-button w-full sm:w-40 py-3 bg-ff6666 text-white font-semibold rounded-full transition ease-in-out duration-300 hover:bg-red-500">
            &nbsp;Submit
          </button>
        </div>
      </form>
    </div> -->

      <!-- <div *ngIf="!isSuccess && isFormSubmitted" class="details-container p-10">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Schedule a Consultation</h2>
    <p class="mb-4">
      <strong class="text-gray-700">Name:</strong> {{ formDetails.name }}
    </p>
    <p class="flex items-center mb-4">
      <strong class="text-gray-700 mr-2">Phone:</strong>
      <span class="text-gray-800">{{ formDetails.phone }}</span>
      <i class="fas fa-edit text-blue-500 ml-2 cursor-pointer hover:text-blue-700 transition-colors" (click)="editPhone()"></i>
    </p>
    <p class="mb-6">
      <strong class="text-gray-700">Preferred Time:</strong>
      <span *ngIf="+formDetails.time === 1">Just Now</span>
      <span *ngIf="+formDetails.time === 15">At {{ exactTime15Min }}</span>
      <span *ngIf="+formDetails.time === 60">At {{ exactTime60Min }}</span>
    </p>

    <div class="flex justify-center">
      <button
        class="callback-button bg-ff6666 text-white font-semibold py-3 px-6 rounded-full transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-ff6666 focus:ring-opacity-50"
        [disabled]="isLoading"
        (click)="scheduleNow()">
        <i *ngIf="!isLoading" class="fa fa-phone text-white mr-2" aria-hidden="true"></i>
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin mr-2"></i>
        {{ isLoading ? 'Scheduling...' : 'Schedule Now' }}
      </button>
    </div>
  </div> -->
      <!--
  <div *ngIf="isSuccess" class="success-message-container p-10 text-center m-4">
    <div class="icon-container mb-4">
      <i class="fas fa-check-circle text-green-500 text-4xl animate-bounce"></i>
    </div>
    <h2 class="text-3xl font-bold text-green-800 mb-4">Thank You!</h2>
    <p class="text-lg text-gray-700">
      You will receive a callback  from <br> Our Sales Coordinator
      <strong class="text-green-800">
        {{ selectedCoordinator.name === 'mac' ? 'Manisha Chaudhary' :
        selectedCoordinator.name === 'mat' ? 'Manisha Tandan' :
          selectedCoordinator.name === 'rupal' ? 'Rupal Yadav' : 'Unknown Coordinator' }}
      </strong>
      at the selected time.<br> Feel free to reach out to them at
      <strong class="text-green-800">{{ selectedCoordinator.callerId }}</strong> during working hours.
    </p>
  </div> -->


  <body class="callback-main">
    <div class="callback-container-container">
      <div>
        <app-reveal-number></app-reveal-number>
      </div>
      <div class="callback-container">
        <h2 style="font-size: 17px; font-family: 'nunito',sans-serif;">Our General Helpline number</h2>
        <p style="font-size: 12px;">Connect with our Support team, Renewals Team, Escalations team, Business Services team and other teams right away by entering the desired extension or selecting the right menu option.</p>
        <div class="call">
          <button
            class="callback-button "
            (click)="showForm()">
            <i class="fa fa-phone text-white mr-2" aria-hidden="true"></i>
            <a href="tel:+917292020900">7292020900</a>
          </button>
        </div>
      </div>
    </div>

    <div class="vl"></div>

    <div class="second">
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-users text-xl text-red-500" aria-hidden="true"></i>&nbsp; Virtual Office Sales</h2>
        <p class="text-sm text-gray-600">Interested in our virtual office solutions? Our sales team is here to guide you. Please <a class="text-red-600" href="mailto:virtualoffices@instaspaces.in" style="cursor: pointer;">submit a support ticket</a> to learn more about our services.</p>
      </div>
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-phone text-xl text-red-500" aria-hidden="true"></i>&nbsp; Service Operations</h2>
        <p class="text-sm my-2 text-gray-600">Need assistance with your virtual office setup or services? Our operations team is ready to help. Please <a class="text-red-600" href="mailto:vosupport@instaspaces.in" style="cursor: pointer;">submit a support ticket</a>.</p>
      </div>
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-life-ring text-xl text-red-500" aria-hidden="true"></i>&nbsp; Escalation Support</h2>
        <p class="text-sm my-2 text-gray-600">Facing an urgent issue with your virtual office services? Our escalation team is here to prioritize your concerns. Please <a class="text-red-600" href="mailto:escalations@instaspaces.in" style="cursor: pointer;">submit a support ticket</a>.</p>
      </div>
    </div>
  </body>
