<div class="footer-main">
  <footer>
    <div class="footer-container">
      <div class="wrapper">
        <div class="footer-widget">
          <a href="#">
            <img src="https://isicons.gumlet.io/logo/is_logo.png?&mode=crop&width=300&height=auto" class="logo" />
          </a>

          <p class="desc">
            Get virtual office spaces for GST registration. InstaSpaces provides Virtual Office in Mumbai, Chennai, Delhi, Gurgaon, Kolkata, Bangalore and PAN India.
          </p>
          <ul class="socials">
            <li>
              <a href="https://www.facebook.com/InstaSpaces/?ref=h" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <fa-icon class="footer-icon" [icon]="faFacebookF"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/InstaSpaces" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <fa-icon class="footer-icon" [icon]="faTwitter"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/instaspaces.india/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <fa-icon class="footer-icon" [icon]="faInstagram"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/instaspaces" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
              </a>
            </li>
          </ul>

        </div>
        <div class="footer-widget">
          <h6>Main Menu</h6>
          <ul class="links">
            <li>
              <a href="https://www.instaspaces.in/" class="text-white hover:text-gray-300" target="_blank" rel="noopener noreferrer" aria-label="Home">
                <fa-icon class="footer-icon" [icon]="faHome"></fa-icon> Home
              </a>
            </li>
            <li>
              <a [routerLink]="['/virtual-office-address']" class="text-white hover:text-gray-300" aria-label="Submit Query">
                <fa-icon class="footer-icon" [icon]="faFileContract"></fa-icon> Submit Query
              </a>
            </li>
            <li>
              <a [routerLink]="['/partner']" class="text-white hover:text-gray-300" aria-label="Partner with Us">
                <fa-icon class="footer-icon" [icon]="faHandshake"></fa-icon> Partner with Us
              </a>
            </li>
            <li>
              <a [routerLink]="['/careers']" class="text-white hover:text-gray-300" aria-label="Careers">
                <fa-icon class="footer-icon" [icon]="faBriefcase"></fa-icon> Careers
              </a>
            </li>
            <li>
              <a href="https://www.instaspaces.in/blog/" class="text-white hover:text-gray-300" target="_blank" rel="noopener noreferrer" aria-label="Blogs">
                <fa-icon class="footer-icon" [icon]="faBlog"></fa-icon> Blogs
              </a>
            </li>
          </ul>
        
        </div>
        <div class="footer-widget">
          <h6>Useful Links</h6>
          <ul class="links">
           
              <li>
                <a [routerLink]="['/refund-policy']">
                <fa-icon class="footer-icon" [icon]="faUndo"></fa-icon>
                  Refund Policy
                </a>
              </li>
              <li>
                <a [routerLink]="['/OurTnCs']">
                  <fa-icon class="footer-icon" [icon]="faFileContract"></fa-icon>
                  Terms of use
                </a>
              </li>
              <li>
                <a [routerLink]="['/WeCareAboutPrivacy']">
                  <fa-icon class="footer-icon" [icon]="faShieldAlt"></fa-icon>
                  Privacy Policy
                </a>
              </li>
              <li>
                <a href="https://www.instaspaces.in/#">
                  <fa-icon class="footer-icon" [icon]="faQuestionCircle"></fa-icon>
                  Frequently Asked Questions
                </a>
              </li>            
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Contact Us</h6>
          <ul class="links">
            <li>
              <fa-icon class="footer-icon" [icon]="faLocationDot"></fa-icon>
              <span> LG006, DLF Grand Mall, MG Road, Gurugram IN </span>
            </li>
            <li>
              <fa-icon class="footer-icon" [icon]="faPhone"></fa-icon>
              <span> +91-7292020900</span>
            </li>
            <li>
              <fa-icon class="footer-icon" [icon]="faGlobe"></fa-icon>
              <span style="text-transform: none;"> www.instaspaces.in</span>
            </li>
          </ul>
          
        </div>
      </div>
      <div class="copyright-wrapper">
        <p>
          &copy; Copyright reserved to
          <a href="https://www.instaspaces.in/" target="blank" class="site-link" >Instaspaces.in</a>
        </p>
      </div>
    </div>
  </footer>
</div>
