<div class="why-choose">
  <section class="why-choose-us">
    <h2>Why <span>Choose Us?</span></h2>
    <hr class="divider">

    <div class="row">
      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">1</h2>
        <h2>After-Sales Dedicated POC</h2>
        <p>
          A dedicated CRM Executive will support you throughout after-sales.
          They will address all your queries and issues.
          Receive consistent, personalized service with regular follow-ups.
          Enjoy priority support for any service-related concerns.
        </p>
      </div>

      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/poc.png"
          alt="100% Compliance">
      </div>
    </div>

    <div class="row row-2">
      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/rating.png"
          alt="PAN India Reach">
      </div>

      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">2</h2>
        <h2>Trust of Hundreds of Big Enterprises</h2>
        <p>Over the past 8 years, we have received a 4.8-star rating from more than 500 authentic users on Google.
          Reflecting our commitment to delivering exceptional service.
          We at InstaSpaces prioritize client satisfaction above all.</p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">3</h2>
        <h2>Hassle-Free Refund</h2>
        <p>Transparent and hassle-free 100% refund policy.
          Full refund if your GST application is rejected (terms & conditions applied).
          Peace of mind with our virtual office services.
          Quick and easy refund process with no hidden fees or lengthy paperwork.</p>
      </div>

      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/refund.png"
          alt="One Stop Solution">
      </div>
    </div>

    <div class="row row-2">
      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/pan-india.png"
          alt="PAN India Reach">
      </div>

      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">4</h2>
        <h2>Govt. Compliant Reliable Solution</h2>
        <p>Experience efficient and trustworthy Virtual Office Address solutions with comprehensive services.
          Elevate your business presence with our seamless services, ensuring all documentation and operations.
          Providing peace of mind through strict compliance and professional support for your business needs.</p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">5</h2>
        <h2>Complex Issue Resolution Expert</h2>
        <p>Specializes in resolving intricate client registration issues.
          Expertly addresses and resolves escalated registration queries.
          Serves as a dedicated problem-solver for complex registration challenges.</p>
      </div>

      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/one-stop.png"
          alt="One Stop Solution">
      </div>
    </div>

    <div class="row row-2">
      <div class="column image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/benefits/price.png"
          alt="PAN India Reach">
      </div>

      <div class="column">
        <h2 style="margin-bottom: 9px; font-size: 30px;">6</h2>
        <h2>Transparent and Competitive Pricing</h2>
        <p>Experience great value with InstaSpaces Virtual Business Address services, starting at just ₹999 per month.
          Benefit from our best price guarantee with complete transparency.
          Enjoy peace of mind with no hidden charges.</p>
      </div>
    </div>
  </section>
</div>