<div class="container-title">
    <h2 class="con-title">What Sets Us Apart</h2>
    <p class="con-text">
        (How InstaSpaces is Your Best Go-To Option)    </p>

    <div class="container">

        <div class="grid">


            <div class="card">
                <img class="card__img"
                    src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                    alt="Snowy Mountains" />
                <div class="card__content">
                    <h1 class="card__header">Quality Over Cost</h1>
                    <div class="card__text-wrapper">
                        <p class="card__text">
                            We focus on delivering top-notch quality, valuing long-term satisfaction and excellence over
                            simply being the cheapest option available.
                        </p>
                    </div>

                </div>
            </div>

            <div class="card">
                <img class="card__img"
                    src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                    alt="Snowy Mountains" />
                <div class="card__content">
                    <h1 class="card__header">More Value for Your Investment</h1>
                    <div class="card__text-wrapper">
                        <p class="card__text">
                            You pay 12k but get the value of 36k (take nos. from sir) unlike other aggregators where you
                            invest less and the value is even lesser.
                        </p>
                    </div>

                </div>
            </div>

            <div class="card">
                <img class="card__img"
                    src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                    alt="Snowy Mountains" />
                <div class="card__content">
                    <h1 class="card__header">Avoid Costly Pitfalls of Cheap Alternatives</h1>
                    <div class="card__text-wrapper">
                        <p class="card__text">
                            Low-cost alternatives may save your cost now but risk costly GST rejections and lost
                            business opportunities down the line.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>