<div class="what-vo">
    <!-- Centered Heading Outside the Section -->
    <div class="header">
        <h2>What Is <span>Virtual Office?</span></h2>
        <hr class="divider">
    </div>

    <!-- Section for Content -->
    <section class="virtual-office">
        <div class="text-container">
            <p>
                <span class="highlight">Virtual office</span> allows you to access a professional business centre’s services and its address without having to physically sit out of that premises. Virtual office saves the cost drastically as you don’t need to own the premises, and with a low monthly subscription, you can avail the services of Mailing Address, GST Registration Address, or Business Registration Address.
            </p>
            <p>
                Further, one can take professional receptionist services facility like call answering or just call forwarding facility or book meeting rooms and conference rooms on an hourly basis.
            </p>
        </div>
        <div class="images-container">
            <div class="image">
                <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/vo/what-vo.png" alt="Virtual Office Desk">
            </div>
        </div>
    </section>
</div>