<div class="container1" style="margin-top: 90px;">
  <div class="slider">
    <div class="overlay"></div>
    <div class="content">
      <div class="text-section">
        <h1>Virtual Offices <span style="color: #fff;">Solutions</span></h1>
        <p>Are you looking for complete Virtual Office Solutions? If yes, avail the most cost-effective and
          professional Virtual Office Address for GST, Business Registration across PAN India.</p>
      </div>
      <div class="form-section">
        <h2>Fill Your <br> <span style="color: #ed6666; font-weight: 700;">Requirements</span></h2>
        <p>We will get back to you right away</p>

        <!-- Form for virtual office submission -->
        <form [formGroup]="virtualOfficeForm" (ngSubmit)="onSubmit()">
          <div *ngIf="!formSubmitted">
            <input type="text" formControlName="fullName" placeholder="Full Name">
            <div *ngIf="virtualOfficeForm.get('fullName')?.touched && virtualOfficeForm.get('fullName')?.invalid"
                 class="error-message">
              Full Name is required.
            </div>

            <input type="email" formControlName="email" placeholder="Email ID">
            <div *ngIf="email?.touched && email?.invalid" class="error-message">
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
              <div *ngIf="email?.errors?.['email']">Please enter a valid email address.</div>
            </div>

            <input type="text" formControlName="phoneNumber" placeholder="Phone Number" maxlength="10"
                   (input)="validateNumber($event)">
            <div *ngIf="phoneNumber?.touched && phoneNumber?.invalid" class="error-message">
              <div *ngIf="phoneNumber?.errors?.['required']">Phone Number is required.</div>
              <div *ngIf="phoneNumber?.errors?.['pattern']">Please enter a valid 10-digit phone number.</div>
            </div>

            <input type="text" formControlName="preferredLocation" placeholder="Preferred state / city">

            <select formControlName="planType">
              <option value="" disabled selected>Select plan type</option>
              <option value="Business Registration">Business Registration</option>
              <option value="GST Registration">GST Registration</option>
              <option value="Mailing Address">Mailing Address</option>
              <option value="Please Help. Need Clarity.">Please Help. Need Clarity.</option>
            </select>
            <div *ngIf="virtualOfficeForm.get('planType')?.touched && virtualOfficeForm.get('planType')?.invalid"
                 class="error-message">
              Please select a plan type.
            </div>
          </div>

          <button *ngIf="!isSubmitting && !formSubmitted" type="submit" class="submit-btn">Request Quote</button>
          <!-- Show spinner during form submission -->
          <div *ngIf="isSubmitting && !formSubmitted" class="spinner">
            <div class="spinner-border" role="status"></div>
          </div>
        </form>

        <!-- Show success message after form submission -->
        <div *ngIf="formSubmitted" class="submitted-section">
<!--          <div class="success-icon">&#10003;</div>-->
<!--          <h3>Form Submitted Successfully!</h3>-->
<!--          <p>Thank you for your submission. Here are your details:</p>-->
<!--          <div class="submitted-details">-->
<!--            <p>You will receive a callback from Our Sales Coordinator <strong>Manisha</strong> at the selected time.</p>-->
<!--            <p>Feel free to reach out to them at <strong>07314620020</strong> during working hours.</p>-->
<!--          </div>-->

          <app-success></app-success>
        </div>
      </div>
    </div>

    <!-- Show success message after form submission -->
    <div *ngIf="formSubmitted" class="submitted-section">
      <!--          <div class="success-icon">&#10003;</div>-->
      <!--          <h3>Form Submitted Successfully!</h3>-->
      <!--          <p>Thank you for your submission. Here are your details:</p>-->
      <!--          <div class="submitted-details">-->
      <!--            <p>You will receive a callback from Our Sales Coordinator <strong>Manisha</strong> at the selected time.</p>-->
      <!--            <p>Feel free to reach out to them at <strong>07314620020</strong> during working hours.</p>-->
      <!--          </div>-->

      <app-success></app-success>
    </div>
  </div>
</div>
