 <div class="callback-main">
    <div class="callback-container-container">
      <div>
        <app-reveal-number></app-reveal-number>
      </div>
      <div class="callback-container">
        <h2 style="font-size: 17px; font-family: 'nunito',sans-serif;">Our General Helpline number</h2>
        <p style="font-size: 12px;">Connect with our Support team, Renewals Team, Escalations team, Business Services team and other teams right away by entering the desired extension or selecting the right menu option.</p>
        <div class="call">
          <button
            class="callback-button "
            (click)="showForm()">
            <i class="fa fa-phone text-white mr-2" aria-hidden="true"></i>
            <a href="tel:+917292020900">7292020900</a>
          </button>
        </div>
      </div>
    </div>

    <div class="vl"></div>

    <div class="second">
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-users text-xl text-red-500" aria-hidden="true"></i>&nbsp; Virtual Office Sales</h2>
        <p class="text-sm text-gray-600">Interested in our virtual office solutions? Our sales team is here to guide you. Please <a class="text-red-600" href="mailto:virtualoffices@instaspaces.in" style="cursor: pointer;">submit a support ticket</a> to learn more about our services.</p>
      </div>
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-phone text-xl text-red-500" aria-hidden="true"></i>&nbsp; Service Operations</h2>
        <p class="text-sm my-2 text-gray-600">Need assistance with your virtual office setup or services? Our operations team is ready to help. Please <a class="text-red-600" href="mailto:vosupport@instaspaces.in" style="cursor: pointer;">submit a support ticket</a>.</p>
      </div>
      <div class="callback-container">
        <h2 class="text-lg font-medium text-black-500 tracking-wide"><i class="fa fa-life-ring text-xl text-red-500" aria-hidden="true"></i>&nbsp; Escalation Support</h2>
        <p class="text-sm my-2 text-gray-600">Facing an urgent issue with your virtual office services? Our escalation team is here to prioritize your concerns. Please <a class="text-red-600" href="mailto:escalations@instaspaces.in" style="cursor: pointer;">submit a support ticket</a>.</p>
      </div>
    </div>
  </div>
