<div class="virtual-office-container">
    <div class="images-section">
      <div class="image">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/www-image-icons/vo/vo2.png" alt="Office Image 1" />
      </div>
    </div>
  
    <div class="text-section">
      <h2>Benefits of <span>Virtual Office</span></h2>
      <ul>
        <li>
          You will get an address for your business at a premium location which you can use for company registration or GST registration.
        </li>
        <li>
          You will be provided with all the necessary documents required for various registrations like: No Objection Certificate, Electricity bill, Rent-Agreement, Signage.
        </li>
        <li>
          Virtual Office is the most cost-effective solution to get a premium office address without having to pay for hefty deposits, bills, and maintenance expenses of a regular office.
        </li>
        <li>
          One can easily avail the facility of meeting rooms, receptionists, professional call answering, mail handling, workstations according to their need, at minimal additional costs.
        </li>
      </ul>
    </div>
  </div>
  