<div class="vo-plan-container">
    <div class="vo-plan-left">
        <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/webimage/images/img1.png" alt="Map Image">
    </div>
    <div class="vo-plan-right">
        <h2>Types of  <span class="vo-plan-highlight">Virtual Office Space Plans</span></h2>
        <div class="vo-plan-row">
            <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/webimage/landing_files/icon-color-2.png" alt="Icon">
            <div class="vo-plan-text">
                <h3>Virtual Office Space with Business Registration</h3>
                <p>Register your company anywhere in India without a physical address with a Virtual Office Address. You will be provided with complete documentation, prime location address & all in-office services.</p>
            </div>
        </div>
        <div class="vo-plan-row">
            <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/webimage/landing_files/icon-color-2.png" alt="Icon">
            <div class="vo-plan-text">
                <h3>Virtual Office Address with GST Registration</h3>
                <p>Register for a GST number anywhere in India with the help of Virtual Office. With a virtual office address, you will be able to register for GST for that location. Moreover, you will be provided with all necessary documentations like NOC, Agreement, Signage, Electricity Bill.</p>
            </div>
        </div>
        <div class="vo-plan-row">
            <img src="https://instaspaceweb.s3.ap-southeast-1.amazonaws.com/webimage/landing_files/icon-color-2.png" alt="Icon">
            <div class="vo-plan-text">
                <h3>Virtual Office Space with Mailing Address</h3>
                <p>If you need a Prime Office Address for the purpose of courier handling then virtual office is the solution for you. With the help of a virtual office, you can get an address for mailing purposes at prime business centres anywhere in India.</p>
            </div>
        </div>
    </div>
</div>