<div class="trust-review ">
  <h1 class="trust-heading">Trusted By All | Loved By All</h1>


  <div class="slider">
    <input type="radio" name="testimonial" id="t-1">
    <input type="radio" name="testimonial" id="t-2">
    <input type="radio" name="testimonial" id="t-3" checked>
    <input type="radio" name="testimonial" id="t-4">
    <input type="radio" name="testimonial" id="t-5">
    <div class="testimonials">
      <label class="item" for="t-1">
        <img src="https://static.wixstatic.com/media/ae252c_1d7159d6d70744759689a983620a7fa4~mv2.png/v1/fill/w_51,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/unnamed%20(2).png" alt="picture">
        <p>Instaspaces delivered exactly what they promised me, great value virtual offices in every state, they
          assisted by team and CA too with right method for GST application and department queries till approval
        </p>
        <h2>- Amulmeet Chadha Director, Chiptronics Solutions </h2>
      </label>
      <label class="item" for="t-2">
        <img src="https://static.wixstatic.com/media/ae252c_0540f97625504245bec3ba4e7e730f56~mv2.png/v1/fill/w_51,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/unnamed%20(3).png" alt="picture">
        <p>Our company is using InstaSpaces for last 8.5 years now for virtual office for GST in 20+ states. They are
          specialists. They are aware of all compliances, and always given right guidance about the address and
          registration. Renewal process and new locations are breeze with InstaSpaces
        </p>
        <h2>- Mohit Patil , Director, XY Sense India
        </h2>
      </label>
      <label class="item" for="t-3">
        <img src="https://static.wixstatic.com/media/ae252c_7508c0954a334d45a7b0dcfe0f182268~mv2.png/v1/fill/w_51,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/unnamed.png" alt="picture">
        <p>Instaspaces team is really experts for virtual offices. Transparent pricing, vetted documentation, assistance
          till registration approval, and longevity of my business adddress. Highly recommend for geographic expansion
        </p>
        <h2>- Sumit Singh , Director, Mukundra Art and Craft</h2>
      </label>
      <label class="item" for="t-4">
        <img src="https://static.wixstatic.com/media/ae252c_e057f96102e7409f8b6d66f39ca4a183~mv2.png/v1/fill/w_51,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/unnamed%20(1).png" alt="picture">
        <p>We found highest value in InstaSpaces services. They understand issues faced during the registration process,
          and their knowledgeable team has always overcome that for us. They assisted me for 72 days for one
          registration and didn’t give up till our registration was successfully approved, and got up and running in
          that state

        </p>
        <h2>- Ram Avtar Soam , Director, Tulip Hospitality
        </h2>
      </label>
      <label class="item" for="t-5">
        <img src="https://dummyimage.com/150" alt="picture">
        <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse."</p>
        <h2>- Princy, Web Developer</h2>
      </label>
    </div>
    <div class="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>
</div>