<div class="mt-5">
  <div class="mx-auto mb-12 w-4/5">
    <h1 style="font-family: 'Nunito',sans-serif;" class="mb-4 text-center text-2xl tracking-wider font-bold text-black xl:text-3xl">Simple & Transparent
      Pricing</h1>
    <p class="text-center text-xl font-normal text-gray-600">Choose your plan according to your business annual revenue.
      Trust us when we say the bigger you are, more compliant you should be. Need more clarity, request a call back from
      one of our experts.</p>



  </div>
  <div class="mx-auto w-11/12">
    <div class="items-end sticky-div lg:flex xl:flex">

      <div class="shadow sm:flex md:flex lg:flex xl:flex">
        <div
          class="mb-2 flex flex-col items-center justify-center border-r border-l border-gray-200 bg-white pt-8 pr-6 pb-8 pl-6 sm:mb-0 md:mb-0 lg:mb-0 lg:w-1/4 xl:mb-0 xl:w-1/4">

          <p class="mb-3 text-center text-2xl font-bold text-gray-800">Features</p>
          <p class="mb-6 w-full text-center text-sm font-normal text-gray-600">Access a virtual office address to enhance your business's professional image.</p>

        </div>

        <div
          class="mb-2 flex flex-col items-center justify-center border-r border-l border-gray-200 bg-white pt-8 pr-6 pb-8 pl-6 sm:mb-0 md:mb-0 lg:mb-0 lg:w-1/4 xl:mb-0 xl:w-1/4">

          <p class="mb-3 text-center text-2xl font-bold text-gray-800">Virtual Address</p>
          <p class="mb-6 w-full text-center text-sm font-normal text-gray-600">Ideal for Soloprenuers, Small Business,
            Freelancers, Startups not requiring GST Audit.</p>

        </div>
        <div
          class="mb-2 flex flex-col items-center justify-center border-r border-l border-gray-200 bg-white pt-8 pr-6 pb-8 pl-6 sm:mb-0 md:mb-0 lg:mb-0 lg:w-1/4 xl:mb-0 xl:w-1/4">

          <p class="mb-3 text-center text-2xl font-bold text-gray-800">Advance Virtual Address</p>
          <p class="mb-6 w-full text-center text-sm font-normal text-gray-600">Ideal for Soloprenuers, Small Business,
            Freelancers, Startups requiring GST Audit.</p>
        </div>
        <div
          class="mb-2 flex flex-col items-center justify-center border-r border-l border-gray-200 bg-white pt-8 pr-6 pb-8 pl-6 sm:mb-0 md:mb-0 lg:mb-0 lg:w-1/4 xl:mb-0 xl:w-1/4">

          <p class="mb-3 text-center text-2xl font-bold text-gray-800">Shared Desk</p>
          <p class="mb-6 w-full text-center text-sm font-normal text-gray-600">Perfect for Enterprises, Well Established
            Businesses doing over 2 Cr in revenue.</p>

        </div>
        <div
          class="mb-2 flex flex-col items-center justify-center border-r border-l border-gray-200 bg-white pt-8 pr-6 pb-8 pl-6 sm:mb-0 md:mb-0 lg:mb-0 lg:w-1/4 xl:mb-0 xl:w-1/4">

          <p class="mb-3 text-center text-2xl font-bold text-gray-800">Dedicated Desk</p>
          <p class="mb-6 w-full text-center text-sm font-normal text-gray-600">The best fit for MNCs, Listed companies
            and Companies doing over 10 Cr in revenue.</p>

        </div>
      </div>
    </div>

    <table class="w-full table-auto bg-white sm:table-fixed">
      <tbody>
      <tr>
        <td class="w-2/12 break-words border border-gray-200 p-2 font-bold text-base text-gray-800 sm:p-4 sm:text-sm">
          Pricing</td>
        <td class="w-2/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Starting
          <span>₹12000/yr</span></td>
        <td class="w-2/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Starting
          <span>₹22000/yr</span></td>
        <td class="w-2/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Starting
          <span>₹30000/yr</span></td>
        <td class="w-2/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Starting
          <span>₹36000/yr</span></td>
      </tr>

      </tbody>
    </table>

    <div class="shadow scrollable-div">
      <div>
        <div class="flex w-full items-center">
          <p class="w-4/12 pt-3 pb-3 pl-4 text-base tracking-wider font-bold text-gray-600 lg:hidden">Plans</p>
          <p class="w-4/12 text-center text-sm font-bold text-gray-800 lg:hidden">Virtual Address</p>
          <p class="w-4/12 text-center text-sm font-bold text-gray-800 lg:hidden">Advance Virtual Address</p>
          <p class="w-4/12 text-center text-sm font-bold text-gray-800 lg:hidden">Shared Desk</p>
          <p class="w-4/12 text-center text-sm font-bold text-gray-800 lg:hidden">Dedicated Desk</p>
        </div>

      </div>
      <div>
        <p class="pt-3 pb-3 pl-4 text-base tracking-wider font-bold text-gray-600">Features</p>
        <table class="w-full table-auto bg-white sm:table-fixed">
          <tbody>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Agreement & NOC</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5 ">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>


            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Electricity Bill</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Waiver
              of Security Deposit Usage</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Temporary Signage Assurance (name)</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Permanent Nameboard (1-month temp.)</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Storage
              Provision for Books</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Standard
              Permanent Signage</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Books of
              Accounts Physical Storage Space</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Standardised Signage till end of term (with GSTIN)</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">On-Site
              Support during field-visit</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Secrecy
              of Books Maintained</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Presenting books to GST Officer</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Demarcated Space or Desk Number</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Premium
              Permanent Signage</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Books of
              Accounts Cloud Storage Space</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">GST
              Certificate</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Unique
              Desk Number</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">
              Permanent Signage (entry)</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/cross.png" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">
              <div class="mx-auto h-5 w-5">
                <img src="https://isicons.gumlet.io/icon/check_circle_icon.svg" alt="" srcset="">
              </div>
            </td>
          </tr>
          <tr>
            <td class="w-4/12 break-words border border-gray-200 p-2 text-xs text-gray-800 sm:p-4 sm:text-sm">Usages
            </td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Business
              Purposes including, Business Registration, GST Registration, Bank Verification, Post-box</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Business
              Purposes including, Business Registration, GST Registration, Bank Verification, Post-box</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Business
              Purposes including Business Registration, GST Registration, Trade Licenses, Bank Verification, Postbox,
              PPOB, Online Listings</td>
            <td class="w-4/12 border border-gray-200 p-2 text-center text-xs text-gray-800 sm:p-4 sm:text-sm">Business
              Purposes including Business Registration, GST Registration, Trade Licenses, Bank Verification, Postbox,
              PPOB, Online Listings</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
