<div class="process-container">
    <h2 class="process-title"><span>Our</span> Process</h2>
    <div class="process-steps">
      <div class="process-step delete">
        <i class="fas fa-map-marker-alt"></i>
        <p>Select a Location</p>
      </div>
      <div class="process-step delete">
        <i class="fas fa-file-alt"></i>
        <p>Preferred Space and Plan</p>
      </div>
      <div class="process-step delete">
        <i class="fas fa-credit-card"></i>
        <p>Make Payment</p>
      </div>
      <div class="process-step delete">
        <i class="fas fa-key"></i>
        <p>Access Your Virtual Office</p>
      </div>
    </div>
  </div>